<p>Le dataset {{donnees.records[0].datasetid}} présente les résultats des élections européennes du {{donnees.records[0].fields.date_election}} à Rennes.</p>
<br>
<mat-form-field>
  <mat-select placeholder="Circonscription">
    <mat-option *ngFor="let circ of circs" [(value)]="circ.value" (click)="getChoice(circ.value)">{{ circ.viewValue }}</mat-option>
  </mat-select>
</mat-form-field>

<table *ngIf="value">
	<thead>
		<tr>
			<th>Candidat</th>
			<th>Resultat</th>
		</tr>
	</thead>
	<tbody>
		<td><tr *ngFor="let candidat of candidats">{{candidat}}</tr></td>
		<td><tr *ngFor="let resultat of resultats">{{resultat}}%</tr></td>
	</tbody>
</table>