<p>Le dataset {{donnees.records[0].datasetid}} présente les résultats des élections européennes du {{donnees.records[0].fields.date_election}} à Rennes</p>
<p>Le candidat 1 dans la circonscription 1 est {{donnees.records[0].fields.candidat_1}}</p>
<br>
<mat-form-field>
  <mat-select placeholder="Circonscription">
    <mat-option *ngFor="let circ of circs" [value]="circ.value">
      {{ circ.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- <table mat-table [dataSource]="objectKeys(donnees.records[0].fields)" matSort>
	<ng-container matColumnDef="Candidat">
		<th mat-header-cell *matHeaderCellDef>Candidat</th>
		<td mat-cell *matCellDef="let nom_candidat">{{nom_candidat.candidat}}</td>
	</ng-container>
</table>
-->
<p>Le dataset {{donnees.records[0].datasetid}} présente les résultats des élections européennes à Rennes</p>
<p>Le candidat 1 dans la circonscription 1 est {{donnees.records[0].fields.candidat_1}}</p>

<table>
	<thead>
		<tr>
			<th>Candidat</th>
			<th>Resultat</th>
		</tr>
	</thead>
	<tbody>
		<td><tr *ngFor="let candidat of candidats">{{candidat}}</tr></td>
		<td><tr *ngFor="let resultat of resultats">{{resultat}}</tr></td>
	</tbody>
